*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "computer_modern";
  src: url("assignments/final_project/computer-modern/cmunrm.ttf");
}

body {
  background-color: silver;
  font-family: "computer_modern", "Helvetica", sans-serif;
  color: darkblue;
}

p {
  line-height: 0.8;
  font-size: 22px;
  margin-left: 20px;
}

#extra-margin {
  margin-left: 30px;
}

h2 {
  margin-left: 10px;
}

.lights_out {
  background: black;
}

.lights_out * {
  color: black;
}

.lights_out *:not(button):hover {
  color: white;
}
