body {
  height: 97.5vh;
}

@font-face {
  font-family: "computer_modern";
  src: url("computer-modern/cmunrm.ttf")
}

#clock {
  display: flex;
  display: inline;
  position: relative;
  font-family: "computer_modern";
}

*, *:before, *:after {
  box-sizing: border-box;
}
