*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@font-face {
  font-family: "computer_modern";
  src: url("computer-modern/cmunrm.ttf")
}

#clock {
  display: flex;
  display: inline;
  position: relative;
  font-family: "computer_modern";
  position: absolute;
  top: -2vh;
  left: 25vw;
}

#path {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 95vh;
  margin-top: 2.5vh;
}

#path svg {
  max-width: 95vw;
  height: 95vh;
}

svg {
  display: block;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
