*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: rgba(176,226,255,0.7);
}

.cover {
  display: flex;
  width: 60%;
  justify-content: center;
  z-index: 1;
}

/* #cover_img {
  width: 60%;
} */

.profile {
  display: inline;
  position: absolute;
  right: 66%;
  top: 26%;
  z-index: 2;
  border-radius: 50%;
  border: 0.25em solid white;
}

.box {
  display: inline;
  color: dimgray;
  position: absolute;
  right: 65.5%;
  top: 51%;
  z-index: 2;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.column {
  background: whitesmoke;
  width: 18%;
  padding: .5em .5em .25em .5em;
  margin: .25em;
  border: 1px solid black;
  border-radius: 5%;
  text-align: center;
  cursor: pointer;
}

.column:hover {
  background: dodgerblue;
  border: 1px solid dodgerblue;
}

.timeline {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}

@media screen and (max-width: 768px) {
  .column {
    width: 24%;
  }

  .profile {
    border: 0.2em solid white;
  }

  /* #cover_img {
    width: 80%;
  } */
}

@media screen and (max-width: 480px) {
  .column {
    width: 36%;
    padding: 1.6% 1.6% 0.4% 1.6%;
  }
}
